@charset "utf-8";
/* CSS Document */

#bg{
	background-image:url(../picture/road.jpg);
}
/*head*/
#head{
	height:10%;
}
#title{
	background-color:#FFC;
	width:200px;
	margin-top:10px;
	overflow:visible;
	line-height:40px;
	text-align:center;
	font-size:20px;
	font-family:幼圆;
}
/*foot*/
#foot{
	height:5%;
}
#button{
	float:right;
}
button{
	font-family:幼圆;
	font-weight:bold;
	font-size:16px;
	color:white;
	background-color:rgba(0,0,0,0.4);
}
/*contain*/
#contain{
	height:85%;
}
.indication{
	margin-left:20px;
	position:relative;
	float:left;
	background-image:url(../picture/indication.png);
	width:123px;
	height:127px;
}
#indication{
}
#indication1{
}
#indication2{
}
#indication3{
}
#indication4{
}
	