@charset "utf-8";
/* CSS Document */

svg {
	position: absolute;
    margin-left: -100px;
    width: 200px;
    height: 100px;
}
#zsd {
    width: 260px;
}
#z1{
    width: 200px;
    height: 220px;
    margin-top: 30px;
    margin-left: 40px;
}